/********** Base styles **********/
*{
    margin: 0;
    padding: 0;
    padding: border-box;
}

body{
    font-family: "srisakdi";
}

.navbar  {
    display: flex;
    align-items: center;
    padding: 20px;
}
.nav {
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;

}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 100px;
    padding-right: 25px;
}
.row {
    display:flex;
    align-items: center;
    flex-wrap:wrap ;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 30%;
    padding: 50px 0;
    padding-left: 70px;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn {
    display:inline-block ;
    background:rgba(230, 0, 230, 0.452);
    color: rgb(6, 22, 6);
    padding:8px 30px;
    margin: 30px 0;
    border-radius: 30px ;

}
.btn:hover {
    background: rgb(29, 7, 128) ;

}
.header {
background: radial-gradient(#fff,#ffd6d6);
}

.header .row{
    margin-top: 70px;
} 

.categories {
    margin:70px 0 ;

}
.col-3 {
    flex-basis:  30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width:100% ;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left:25px ;
    padding-right: 25px;
}

/*Footer Part*/
.footer{
    margin: auto;
    text-align: left;
    padding-left: 200px;
    background-color: black;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer p, .footer-header{
    color: #F0EBE6;
    width: 90%;
    font-family: 'Courier New', Courier, monospace;
}

.footer-header{
    font-size: larger;
    font-weight: bolder;
}

#copyright p{
    color: #CE2532;
}

/*Rules for Responsibility*/
.row{
    width: 100%;
}

@media (min-width:768px){
    .large-screen{
        width: 25%;
    }
}

@media (max-width:767px){
    .small-screen{
        width: 50%;
    }
}
